@import '../../styles/variables';
@import '../../styles/mixins';

.back-btn {
    background-color: $pale-coral;
    @include button-40;
    background-image: url('/icons/back-icon.svg');
}

.back-btn:hover {
    background-color: $bright-colar;
    background-image: url('/icons/back-icon-white.svg');
}
