@import '../../styles/mixins';

.wrapper {
    @include page-layout;
    contain: paint;
}

.left-section {
    @include sticky-section;
}

.header {
    @include logo-header;
}

@media (max-width: 1200px) {
    .wrapper {
        justify-content: center;
    }

    .left-section {
        display: none;
    }
}

@media (max-width: 375px) {
    .wrapper {
        padding: 20px;
    }
}
