@import '../../styles/mixins';
@import '../../styles/variables';


.container {
    @include main-section;
}

.title-wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.section-title {
    background-color: $bright-colar;
    @include size-color-weight-height(20px, #FFF, 500, 30px);
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 5px 30px;
}

.loader-wrapper {
    width: 100%;
    min-height: 470px;
    display: flex;
    justify-content: center;
}

.back-block {
    display: flex;
    gap: 10px;
}

.filters-wrapper {
    background-color: $background-grey;
    border-radius: 20px;
    padding: 10px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.filters-wrapper div {
    flex-basis: 45%;
    flex-grow: 1;
}

.filters-wrapper div:nth-child(4) {
    display: flex;
    gap: 10px;
}

.empty-text {
    background-color: $background-grey;
    margin: 0;
    padding: 18px 20px;
    border-radius: 10px;
    @include size-color-weight-height(16px, $dark-grey, 400, 24px);
}

.page-btns {
    margin: auto;
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}

.page-btns button {
    max-width: 100px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    @include size-color-weight-height(12px, $bright-colar, 500, 16px);
    background-color: $pale-coral;
    cursor: pointer;
}

.page-btns button:hover {
    background-color: $bright-colar;
    @include size-color-weight-height(12px, white, 500, 16px);
}

.page-btns .disabled, .page-btns .disabled:hover {
    background-color: $background-grey;
    cursor: default;
    @include size-color-weight-height(12px, $dark-grey, 500, 16px);
}


@media (max-width: 600px) {

    .filters-wrapper div {
        max-width: 540px;
        flex-basis: 100%;
    }

    .filters-wrapper div:nth-child(4) {
        flex-direction: column;
    }

    

}

@media (max-width: 500px) {
    .title-wrapper {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}
