@import '../../styles/mixins';
@import '../../styles/variables';

.container {
    @include main-section;
}

.title-wrapper {
    @include title-display-gap-bottom(flex, 10px, 20px);
}

.section-title {
    background-color: $bright-colar;
    @include size-color-weight-height(20px, #FFF, 500, 30px);
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 5px 30px;
}

.image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
    max-width: 640px;
    width: 100%;
    height: 360px;

}

.image-wrapper img {
    border-radius: 20px;
    object-fit: cover;
    max-width: 100%;
    background-color: rgb(253, 246, 237);
}

.error-wrapper {
    @include flex-centered();
    padding: 30vh 20px;
    margin: 0;
    background-color: #FFF;
    border-radius: 10px;
}

.error {
    @include size-color-weight-height(18px, $bright-colar, 500, 16px);
    margin-right: 20px;
}


@media (max-width: 500px) {
    .image-wrapper, .image-wrapper img {
        max-height: 200px;
    }
}
