@import '../../styles/mixins';
@import '../../styles/variables';

.breeds-section {
    flex-basis: 680px;
}

.breeds-container {
    @include main-section;
}

.title-wrapper {
    @include title-display-gap-bottom(flex, 10px, 20px);
}

.section-title {
    background-color: $pale-coral;
    letter-spacing: 2px;
    border-radius: 10px;
    @include size-color-weight-height(20px, $bright-colar, 500, 30px);
    padding: 5px 30px;
}

.section-id {
    background-color: $bright-colar;
    @include size-color-weight-height(20px, #FFF, 500, 30px);
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 5px 30px;
}

.image-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    max-width: 640px;
    width: 100%;
    height: 360px; 
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.image {
    object-fit: cover;
    display: none;
}

.visible {
    display: block;
}

.image::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -140px;
    max-width: 90px;
    width: 50px;
    background-color: #FFF;
    height: 30px;
    z-index: 1;
}

.loader-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 375px) {
    .image-wrapper {
        padding-top: 160px;
    }

    .image {
        max-height: 160px;
    }

    .title-wrapper {
        flex-shrink: 1;
    }

    .section-title {
        padding: 5px 20px;
    }

    .section-id {
        padding: 5px 10px;
    }
}
