@import '../../styles/variables';
@import '../../styles/mixins';

.modal {
    display: none;
    position: fixed;
    max-width: 680px;
    width: 100%;
    z-index: 10;
    top: 30px;
    bottom: 30px;
    right: max(30px, calc((30px + (100vw - 1440px)/2)));
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: $background-grey;
}
  
.modal.visible {
    display: flex;
    flex-basis: 680px;
    flex-direction: column;
    align-items: center;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.backdrop {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}
  
.backdrop.visible {
    display: block;
    pointer-events: all;
}

.cross {
    align-self: flex-end;
    border: none;
    background-color: #FFF;
    background-image: url('/icons/cross-colar-20.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    max-width: 40px;
    width: 100%;
    flex-basis: 40px;
    cursor: pointer;
    margin-bottom: 40px;
}

.cross:hover {
    background-color: $bright-colar;
    background-image: url('/icons/cross-white-20.svg');
}

.title {
    margin: 0 0 10px 0;
    @include size-color-weight-height(36px, #1D1D1D, 500, 52px);
    text-align: center
}

.guidelines-text {
    @include size-color-weight-height(20px, $dark-grey, 400, 30px);
    margin: 0 0 40px 0;
    text-align: center;
}

.drag-area {
    width: 100%;
    text-align: center;
    padding: 145px 0 145px;
    border: 2px dashed $pale-coral;
    border-radius: 20px;
    background-color: #FFF;
    background-image: url('/icons/upload-img.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;   
}


.drag-area input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.img-area {
    width: 100%;
    padding: 18px 41px;
    border: 2px dashed $pale-coral;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #FFF;
    margin-bottom: 20px;
    overflow: hidden;
}

.img-area img {
    border: none;
    width: 100%;
    max-height: 280px;
    border-radius: 10px;
    object-fit: cover;
    vertical-align: middle;
}

.rejected {
    border: 2px dashed $bright-colar;
    background-color: $pale-coral;
}

.modal-text {
    @include size-color-weight-height(20px, $dark-grey, 400, 30px);
    margin: 0 0 20px 0;
}

.modal-text span {
    color: #1D1D1D;
    font-weight: 500;
}

.upload-btn {
    border-radius: 10px;
    border: none;
    background-color: $bright-colar;
    max-width: 172px;
    width: 100%;
    padding: 12px 0;
    @include size-color-weight-height(12px, #FFF, 500, 16px);
    letter-spacing: 2px;
    cursor: pointer;
}

.success-text, .error-text {
    background-color: #FFF;
    @include size-color-weight-height(18px, $dark-grey, 400, 16px);
    margin: 0;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
}

.success-text::before {
    content: url('/icons/round-check-green.svg');
    margin-right: 7px;
    margin-left: 15px;
}

.error-text::before {
    content: url('/icons/error-20.svg');
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
}

.loader-wrapper {
    width: 80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .modal {
        max-width: 680px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 765px) {
    .modal {
        width: 90%;
    }

    .drag-area {
        padding: 100px 0 100px;
    }


}

@media (max-width: 375px) {
    .modal {
        max-width: 335px;
        width: 100%;
    }

    .cross {
        max-width: 60px;
        flex-basis: 60px;
        margin-bottom: 20px;
        background-image: url('/icons/cross-colar-60.svg');
    }
    
    .title {
        @include size-color-weight-height(20px, #1D1D1D, 500, 30px);
    }
    
    .guidelines-text {
        @include size-color-weight-height(20px, $dark-grey, 400, 30px);
        margin-bottom: 20px;

    }
    
    .drag-area {
        padding: 54px 0 54px;
        background-image: url('/icons/upload-img-100.svg');
        margin-bottom: 10px;
    }

    
    .img-area {
        padding: 20px 10px;
        margin-bottom: 10px;
    }
    
    .img-area img {
        max-height: 248px;
    }
    
    
    .upload-btn {
        max-width: 335px;
    }
}