@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import 'normalize.css';
@import './variables';
@import './mixins';


html,
body {
    padding: 0;
    margin: auto;
    font-family: 'Jost', sans-serif;
    background-color: $background-grey;
    max-width: 1440px;
    width: 100%;
}

a {
    color: $bright-colar;
    text-decoration: none;
}